@import "tailwindcss";

html {
  font-family: 'Manrope', 'Pretendard', sans-serif;
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-*: initial;

  /* Light & Dark Theme Colors */
  --color-primary: #607AFB;
  --color-background-light: #f5f6f8;
  --color-background-dark: #0f1323;
  --color-panel-light: #ffffff;
  --color-panel-dark: #1f2937;
  --color-border-light: #e5e7eb;
  --color-border-dark: #2d2938;
  --color-text-light-primary: #111827;
  --color-text-dark-primary: #f9fafb;
  --color-text-light-secondary: #6b7281;
  --color-text-dark-secondary: #9ca3af;

  --color-hub-accent: #0284c7;
  --color-hub-accent-light: #E0F2FE;
  --color-hub-accent-dark: #0369a1;

  --color-flow-accent: #CCFBF1;
  --color-flow-accent-dark: #0d9488;
}

[data-theme="dark"] {
    --color-primary: #8A9BFF;
    --color-background-light: #0f1323;
    --color-background-dark: #0f1323;
    --color-panel-light: #1f2937;
    --color-panel-dark: #1f2937;
    --color-border-light: #2d2938;
    --color-border-dark: #2d2938;
    --color-text-light-primary: #f9fafb;
    --color-text-dark-primary: #f9fafb;
    --color-text-light-secondary: #9ca3af;
    --color-text-dark-secondary: #9ca3af;

    --color-hub-accent: #38bdf8;
    --color-hub-accent-light: #0369a1;
    --color-hub-accent-dark: #7dd3fc;

    --color-flow-accent: #2dd4bf;
    --color-flow-accent-dark: #5eead4;
}

body {
    background-color: var(--color-background-light);
    color: var(--color-text-light-primary);
}

[data-theme="dark"] body {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark-primary);
}